{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

{{! <section class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

  <h2 id='user'>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>

  <button
    type='button'
    class='button'
    id='button'
  >Купити</button>

  <p class='user'>Link</p>
</section>

<section class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <p class='user'>Link</p>
</section>

<section class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <p class='user'>Link</p>
</section>

<section class='p-5 box'>
  <strong>Test</strong>

  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <strong>Test</strong>
  <em>Test</em>
  <section>
    <p class='user'>Link</p>
  </section>
</section> }}

{{! <footer class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <p class='user'>
    <em class='child'>Test Em</em>
  </p>

  <div>
    <div>
      <em class='child'>Test Em</em>
    </div>
  </div>

  <div class='child'>Test Em</div>
</footer> }}

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}

{{! <div class='card p-5 m-5 card-dark'>
  <ul>
    <li class='item'>1</li>
    <div class='item'>love</div>
    <li class='item'>2</li>
    <li class='item'>3</li>
    <li class='item'>4</li>
  </ul>
</div> }}
{{! <div class='card p-5 m-5 card-dark'>
  <div class='item'>love1</div>
  <div class='item'>love</div>
  <p class='item'>Second</p>
  <strong class='item'>Test strong</strong>
  <p></p>
  <article class='item'>Last</article>
  <article class='item'>Last</article>
</div> }}

{{! <div class='card p-5 m-5 card-dark'>
  <ul>
    <li class='item'>love</li>
  </ul>
</div> }}

{{!-- <div class='card p-5 m-5 card-dark'>
  <input
    class='input-dark p-5'
    placeholder='This is text'
    required
  />
  {{! <input class='input-dark' type='number' /> }}
</div> --}}
{{! 
<div class='card p-5 m-5 card-dark img'>
  <img
    alt='image small card 100px'
    class='small-img'
    src='https://picsum.photos/200/300'
    height='100px'
  /> }}

{{! <a
    href='https://picsum.photos/200/300'
    rel='external'
  >Link</a>
  <br />
  <button class='btn before-after'>Click me!</button>
  <br />
  <a
    href='https://picsum.photos/200/300'
    class='small btn btn-secondary bighh before-after'
  >Click me!</a>
</div>

<div class='card p-5 m-5 card-dark'>
  <p class='before-after'>This is text aboyt this page. We
    have a few diferend card here with difiterent css
    styles.
  </p>
</div> }}

<div lang='fr' class='card p-5 m-5 card-dark'>
  <a class='link' href='https://www.google.com'>Click Me</a>
</div>

<div lang='en' id='test' class='card p-5 m-5 card-dark'>
  <input />
  <span>Hello world!</span>
  <button>Test Button</button>
</div>

<div class='p-5 m-5 card-dark'>
  <button>Test Button</button>
  <button disabled>Disabled button</button>
</div>

<div class='p-5 m-5 card-dark'>
  <input class='inp' disabled />
  <div class='mt-5'>
    <div>
      <input type='checkbox' checked />
      <span>First checkbox</span>
    </div>
    <div class='mt-3'>
      <input type='checkbox' />
      <span>Second checkbox</span>
    </div>
  </div>
</div>

<div class='p-5 m-5 card-dark'>
  <div>
    <input type='email' class='valid' placeholder='test' />
    <span>Test text</span>
  </div>
  <div class='mt-3'>
    <input type='number' min='10' max='20' class='number' />
  </div>
</div>