<div class='col-4'>
  <div class="card p-3 m-3" >
    <div class='card-header text-center'>
      {{name}}
    </div>
    <div class='card-body text-center'>
      <h3 class="box">{{price}}</h3>
      {{#each features}}
	  <div>
        {{this}}</div>
      {{/each}}
      <div class='mt-3 btn btn-primary{{#if @first}}btn btn-outline-primary{{/if}}'>{{button}}</div>

    </div>
  </div>
</div>
 