<div class='row '>
  <div class='col-12'>

    <div class='d-flex justify-content-between'>
		{{>logo}}
		<div class="col-4 ">
      {{#each header}}
        <a href="{{url}}">{{text}}</a>
      {{/each}}
	  </div>
	  
    </div>

  </div>
</div>